{{#if error}}

<p>{{error}}</p>

{{/if}}

<p>PLease enter your phone number in internaional format </p>

<form action="/step2" method="POST">
    <input type="tel" name="number">
    <input type="submit" value="Send OTP">
</form>